body {
    background: #eee;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

#welcome {
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -60px;
}

#main {
    margin-bottom: 30px;
}

/* roadmap */
#roadmap_items h5,
#reference_items h5 {
    font-style: italic;
    color: #999;
    margin-top: 20px;
}

@keyframes changedItem {
    from {
        transform: scale(1.03);
        border-width: 2;
        border-color: #337ab7;
    }
    to {
        transform: scale(1);
        border-width: 1;
        border-color: #ddd;
    }
}
.roadmap-item {
    border: solid 1px #ddd;
    padding: 10px 15px;
    background: white;
    box-shadow: 0 5px 20px -16px #333;
    transform-origin: 50% 50%;
    height: 42px;
}
.roadmap-item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    width: 85%;
    float: left;
}
.roadmap-item-candidate {
    background: #FAFAFA;
    border-color: #FAFAFA;
}
.roadmap-item-new {
    animation: changedItem 0.4s;
}

.roadmap-item-delete {
    color: #a94442;
    display: none;
    margin-right: 10px;
}
@keyframes newAuthor {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.roadmap-author {
    margin-right: 20px;
    opacity: 0;
}
.roadmap-author-new {
    animation: newAuthor 3s;
}

/* ADMIN */

.admin .roadmap-item-delete {
    display: inline;
}

#admin_block {
    margin-top: -20px;
    background: #333;
}

#admin_block input {
    background: #444;
    color: #eee;
    border: none;
    width: 300px;
    transition: background ease-in-out .15s
}
#admin_roadmap_item:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #555;
}

/* ONLINE */
#online_status {
    font-size: small;
    text-align: right;
}
#online {
    display: inline;
}
#online li {
    border: solid 1px white;
    padding: 5px 10px;
    color: #bbb;
    border-radius: 3px;
    margin-left: 10px;
}
@keyframes userActive {
    from {
        background-color: #ddd;
        color: #999;
    }
    to {
        background-color: #eee;
        color: #bbb;
    }
}
#online li.user-active {
    animation: userActive 1s;
}

/* CHARTING */
#chart_container {
    border: solid 1px #ddd;
    background: white;
    padding: 20px;
}
