body {
    background: #eee;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

#welcome {
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -90px;
}

#main {
    margin-bottom: 30px;
}

/* ROADMAP */

#roadmap_items h5,
#reference_items h5 {
    font-style: italic;
    color: #999;
    margin-top: 20px;
}

@keyframes changedItem {
    from {
        transform: scale(1.03);
        border-width: 2;
        border-color: #337ab7;
    }
    to {
        transform: scale(1);
        border-width: 1;
        border-color: #ddd;
    }
}
.roadmap-item {
    border: solid 1px #ccc;
    transform-origin: 50% 50%;
    box-shadow: 0 5px 20px -16px #333;
    margin-bottom: -1px;
    background: white;
}

.roadmap-item > div {
    padding: 5px 10px;
    height: 32px;
    display: flex;
}

@keyframes goingUp {
    from {
        background: #dff0d8;
    }
    to {
        background: transparent;
    }
}
@keyframes goingDown {
    from {
        background: #f2dede;
    }
    to {
        background: transparent;
    }
}
.roadmap-item-notif-up {
    animation: goingUp 2s;
}
.roadmap-item-notif-down {
    animation: goingDown 2s;
}

.roadmap-item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    flex: 1;
}
.roadmap-item-candidate {
    border-color: #eee;
    background: #f4f4f4;
}
.roadmap-item-new {
    animation: changedItem 0.4s;
}

.roadmap-item-delete {
    color: #a94442;
    display: none;
    margin-left: 10px;
}
.roadmap-item-up {
    margin-left: 10px;
}
.roadmap-item-down {
    margin-left: 10px;
}
.roadmap-item:first-child .roadmap-item-down {
    margin-right: 24px;
}

@keyframes newAuthor {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.roadmap-author {
    margin-right: 10px;
    margin-left: 20px;
    opacity: 0;
}
.roadmap-author-new {
    animation: newAuthor 2s;
}

/* DnD */
.roadmap-item-grab-handle {
    display:none;
    margin-right: 10px;
    margin-top: -6px;
    line-height: 32px;
    margin-left: -10px;
    padding: 0px 10px;
    background: #ddd;
    height: 32px;
    cursor: move;
}
.roadmap-item-dragging {
    opacity: 0.4;
}
.roadmap-item-drop-target {
    position: relative;
}
.roadmap-item-drop-target:before {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    left: -10px;
    right: -10px;
    height: 33px;
    z-index: 1;
    background: transparent;
}
.roadmap-item-drop-target-enter {
    margin-top: 42px;
}
.roadmap-item-drop-target-enter:before {
    top: -58px;
    height: 75px;
}
.roadmap-item-drop-target-enter:after {
    content: "";
    display: block;
    position: absolute;
    top: -37px;
    left: 10px;
    right: 10px;
    height: 32px;
    border: dashed 1px #aaa;
    background: rgba(256, 256, 256, 0.5);
}

#roadmap_items .roadmap-item:last-child {
    border: none;
}

/* ADMIN */

.admin .roadmap-item-delete {
    display: inline;
}

.admin .roadmap-item-grab-handle {
    display: inline-block;
}

/* Prevent the text contents of draggable elements from being selectable. */
.admin [draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#admin_block {
    margin-top: -20px;
    background: #333;
}

#admin_block input {
    background: #444;
    color: #eee;
    border: none;
    width: 300px;
    transition: background ease-in-out .15s
}
#admin_roadmap_item:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #555;
}

#roadmap_items_download {
    display: none;
}

.admin #roadmap_items_download {
    display: inline-block;
}

/* ONLINE */

#online_status {
    font-size: small;
    text-align: right;
    margin-top: 20px;
}
#online {
    display: inline;
}
#online li {
    border: solid 1px white;
    padding: 5px 10px;
    color: #bbb;
    border-radius: 3px;
    margin-left: 10px;
    text-transform: uppercase;
}
@keyframes userActive {
    from {
        background-color: #ccc;
        color: #999;
    }
    to {
        background-color: #eee;
        color: #bbb;
    }
}
#online li.user-active {
    animation: userActive 1s;
}
