html, body {
    height: 100%;
}
body {
    background: #eee;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}
#welcome {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/background.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}
#welcome_background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}
#welcome_content {
    width: 300px;
    z-index: 2;
}
#welcome h2 {
    color: white;
    margin-bottom: 25px;
}
#welcome .btn {
    border: solid 1px white;
    background: transparent;
    color: white;
    padding: 10px;
    font-size: 18px;
}
#welcome .btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

#main {
    margin-bottom: 30px;
}

/* ROADMAP */

#roadmap_items h5, #reference_items h5 {
    font-style: italic;
    color: #999;
    margin-top: 20px;
}
@keyframes changedItem {
    from {
        transform: scale(1.03);
        border-width: 2;
        border-color: #337ab7;
    }
    to {
        transform: scale(1);
        border-width: 1;
        border-color: #ddd;
    }
}
.roadmap-item {
    border: solid 1px #ccc;
    transform-origin: 50% 50%;
    box-shadow: 0 5px 20px -16px #333;
    margin-bottom: -1px;
    background: white;
}
.roadmap-item > div {
    padding: 5px 10px;
    height: 32px;
    display: flex;
}
@keyframes goingUp {
    from {
        background: #dff0d8;
    }
    to {
        background: transparent;
    }
}
@keyframes goingDown {
    from {
        background: #f2dede;
    }
    to {
        background: transparent;
    }
}
.roadmap-item-notif-up {
    animation: goingUp 2s;
}
.roadmap-item-notif-down {
    animation: goingDown 2s;
}
.roadmap-item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    flex: 1;
}
.roadmap-item-candidate {
    border-color: #eee;
    background: #f4f4f4;
}
.roadmap-item-new {
    animation: changedItem 0.4s;
}
.roadmap-item-delete {
    color: #a94442;
    display: none;
    margin-left: 10px;
}
.roadmap-item-up {
    margin-left: 10px;
}
.roadmap-item-down {
    margin-left: 10px;
}
.roadmap-item:first-child .roadmap-item-down {
    margin-right: 24px;
}
@keyframes newAuthor {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.roadmap-author {
    margin-right: 10px;
    margin-left: 20px;
    opacity: 0;
}
.roadmap-author-new {
    animation: newAuthor 2s;
}

/* DnD */

.roadmap-item-grab-handle {
    display: none;
    margin-right: 10px;
    margin-top: -6px;
    line-height: 32px;
    margin-left: -10px;
    padding: 0px 10px;
    background: #ddd;
    height: 32px;
    cursor: move;
}
.roadmap-item-dragging {
    opacity: 0.4;
}
.roadmap-item-drop-target {
    position: relative;
}
.roadmap-item-drop-target:before {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    left: -10px;
    right: -10px;
    height: 33px;
    z-index: 1;
    background: transparent;
}
.roadmap-item-drop-target-enter {
    margin-top: 42px;
}
.roadmap-item-drop-target-enter:before {
    top: -58px;
    height: 75px;
}
.roadmap-item-drop-target-enter:after {
    content: "";
    display: block;
    position: absolute;
    top: -37px;
    left: 10px;
    right: 10px;
    height: 32px;
    border: dashed 1px #aaa;
    background: rgba(256, 256, 256, 0.5);
}
#roadmap_items .roadmap-item:last-child {
    border: none;
}

/* ADMIN */

.admin .roadmap-item-delete {
    display: inline;
}
.admin .roadmap-item-grab-handle {
    display: inline-block;
}

/* Prevent the text contents of draggable elements from being selectable. */

.admin [draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
#admin_block {
    margin-top: -20px;
    background: #333;
}
#admin_block input {
    background: #444;
    color: #eee;
    border: none;
    width: 300px;
    transition: background ease-in-out .15s
}
#admin_roadmap_item:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #555;
}

/* ONLINE */

#online_status {
    font-size: small;
    text-align: right;
    margin-top: 20px;
}
#online {
    display: inline;
}
#online li {
    border: solid 1px white;
    padding: 5px 10px;
    color: #bbb;
    border-radius: 3px;
    margin-left: 10px;
    text-transform: uppercase;
}
@keyframes userActive {
    from {
        background-color: #ccc;
        color: #999;
    }
    to {
        background-color: #eee;
        color: #bbb;
    }
}
#online li.user-active {
    animation: userActive 1s;
}

/* STATS */

#chart_container {
    border: solid 1px #ddd;
    background: white;
    padding: 20px;
}
.stats-card {
    background: url(images/laurel.svg) no-repeat white;
    background-size: 120px;
    background-position: center 25px;
    margin: 10px auto 30px auto;
    text-align: center;
    padding: 40px 0 30px 0;
    max-width: 200px;
    border: solid 1px #ddd;
    box-shadow: 0 4px 15px -10px black;
}
.stats-card-icon {
    font-size: 50px;
    font-weight: 600;
    color: #ccc;
    height: 60px;
}
.stats-card-visa, .stats-card-name {
    font-size: 30px;
    margin-top: 30px;
    text-transform: uppercase;
}
.stats-card-legend {
    text-transform: uppercase;
    font-size: 10px;
    color: #aaa;
    margin-top: -5px;
}
.stats-card-up {
    float: left;
    width: 45%;
    text-align: right;
    opacity: 0.7;
}
.stats-card-down {
    float: right;
    width: 45%;
    text-align: left;
    opacity: 0.7;
}
#stats_most_ref .stats-card-icon span, #stats_less_ref .stats-card-icon span {
    display: block;
    height: 55px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0px;
}
#stats_most_ref .stats-card-icon span {
    background-image: url(images/empire.svg);
}
#stats_less_ref .stats-card-icon span {
    background-image: url(images/alliance.svg);
}
